@mixin puce($color){
  background-color: $color;
  height: 14px !important;
  width: 14px !important;
  margin-left: 3px;
}

.flex{
  display: flex;
}

.ml{
  margin-left: 20px !important;
}

.static-container {
  max-height: 74.5vh;
  overflow: auto;
}

.materialTableHeader {
  min-width: none !important;
}

table {
  width: 100%;
  overflow-y: hidden;
}

.mat-column-status {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  padding-left: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-topic {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 38.5% !important;
  width: 39% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-startDate {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6.5% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-endDate {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7.5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-capacity {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 9.5% !important;
  width: 10% !important;
  text-align: center;
  justify-content: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-network {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6.5% !important;
  width: 7% !important;
  text-align: center;
  justify-content: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-location {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25.5% !important;
  width: 26% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.list-puce{
  position: absolute;
  border-radius: 50%;
  margin-top: 4px !important;
}

.training_broadcast {
  @include puce(gray);
  margin-top: 14px;
}

.training_requested {
  margin-top: 15px;
  @include puce(darkslategray);
}

.training_validated {
  margin-top: 14px;
  @include puce(greenyellow);
}

.training_rejected {
  margin-top: 14px;
  @include puce(darkred);
}

.training_pending {
  margin-top: 14px;
  @include puce(yellow);
}

.training_completed {
  margin-top: 14px;
  @include puce(green);
}

.training_uncompleted {
  margin-top: 14px;
  @include puce(red);
}